<header class="d-none bg-black d-lg-block">
    <div class="bar-logo">
        <img src="assets/lincus.png" height="50px"/>
    </div>
    <div class="bar-link">
        <ul class="list-group list-group-flush d-flex flex-row">
            <li class="list-group-item"><a href="#">Opportunity</a></li>
            <li class="list-group-item"><a href="#">Academy</a></li>
            <li class="list-group-item"><a href="#">About us</a></li>
            <li class="list-group-item"><a href="#">Contact us</a></li>
            <li class="list-group-item"><a href="#">Login</a></li>
        </ul>
    </div>
</header>

<header class="d-block d-lg-none">
    <div class="container py-3 px-4 d-flex justify-content-between">
        <div>
            <img src="assets/lincus.png" height="50px"/>
        </div>
        <div class="menu-btn align-self-center">
            <button class="btn btn-outline-secondary d-flex align-items-center p-0" data-bs-toggle="modal" data-bs-target="#sideMenu"><i class="fas fa-bars"></i></button>
        </div>
    </div>
</header>