<div class="d-block d-lg-none">
    <app-responsive></app-responsive>
</div>

<div class="container d-none d-lg-block">
    <div class="rectangle14"></div>
    <div class="ellipse17-1 rounded-circle"></div>
    <div class="polygon1"></div>
    <div class="polygon1-1"></div>

    <div class="main-view">
        <p class="title-app">Lincus app</p>
        <p class="title-main">Study will be more <span id="bottom">fun and easier</span></p>
        <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>

    <div class="title-btn">
        <a class="btn btn-outline-primary" href="#about">Get started</a>
    </div>
    <div class="available-on">
        <p>Lincus app available on</p>
    </div>
    <div class="available-btn">
        <div class="d-flex flex-row btn-contain justify-content-between">
            <div class="mr-3">
                <button id="playstore" class="btn btn-primary"></button>
            </div>
            <div>
                <button id="appstore" class="btn btn-primary"></button>
            </div>
            
        </div>
    </div>

    <div class="ellipse17 rounded-circle"></div>
    <div class="ellipse19 rounded-circle"></div>
    <div class="ellipse14 rounded-circle"></div>
    <div class="ellipse13 rounded-circle"></div>
    <div class="ellipse18 rounded-circle"></div>
    <div class="ellipse16 rounded-circle"></div>
    <div class="ellipse15 rounded-circle"></div>
    <div class="mascot-main"></div>
    
    <div class="vector6" id="about"></div>
    <div class="about-img">
        <img src="../../assets/aboutus.png"/>
    </div>
    <div class="aboutus">
        <p class="about-title">About us</p>
        <p class="about-study">Study will be fun</p>
        <p class="about-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus. Ut orci scelerisque eu, sed mauris lorem cras tristique interdum. Dictum nisl sed auctor condimentum etiam pretium quis pharetra magna. Faucibus sit nunc donec pellentesque elit tempus, arcu. </p>
    </div>
    

    <div class="ellipse19-1 rounded-circle"></div>

    <div class="use-lincus text-center">
        <p class="use-title">Use Lincus now</p>
        <p class="use-why">Why you should use Lincus?</p>
        <p class="use-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>
    </div>

    <div class="use-column-1">
        <div class="alarm-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/alarm.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>

    <div class="use-column-2">
        <div class="laptop-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/laptop.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>
    <div class="use-column-3">
        <div class="allout-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/allout.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>
    <div class="use-column-4">
        <div class="hourglass-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/hourglass.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>
    <div class="use-column-5">
        <div class="identity-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/identity.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>
    <div class="use-column-6">
        <div class="timeline-bg rounded-circle d-flex align-items-center">
            <img class="mx-auto" src="../../assets/timeline.png">
        </div>
        <p class="column-title">Lorem ipsum dolor sit</p>
        <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
    </div>

    <div class="ellipse33 rounded-circle"></div>
    <div class="ellipse34 rounded-circle"></div>

    <ul class="pills-btn nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link d-flex align-items-center active" id="pills-student-tab" data-bs-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-student" aria-selected="true"><p class="mx-auto my-0">Student app</p></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link d-flex align-items-center" id="pills-tutor-tab" data-bs-toggle="pill" href="#pills-tutor" role="tab" aria-controls="pills-tutor" aria-selected="false"><p class="mx-auto my-0">Tutor app</p></a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">
            <div class="student-app">
                <p class="student-title">Student app</p>
                <p class="student-study">Study will be fun</p>
            </div>
    
            <div>
                <div class="list-icon-1 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-1">
                    <p class="list-title">Just take a photo of a question</p>
                    <p class="list-desc">That's it, you don't need to type it out. Just take a pic and send to Lincus</p>
                </div>
            </div>
    
            <div>
                <div class="list-icon-2 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-2">
                    <p class="list-title">AI powered question mapping</p>
                    <p class="list-desc">Our AI powered logic will map your question, just from the photo, against our database of questions</p>
                </div>
            </div>
    
            <div>
                <div class="list-icon-3 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-3">
                    <p class="list-title">Immediately get an answer or a similar question asked by someone else before.</p>
                </div>
            </div>
            
            <div>
                <div class="list-icon-4 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-4">
                    <p class="list-title">Still not sure on how to solve your question?</p>
                    <p class="list-desc">Just reach out to our tutor base and engage them on a 1 on 1 session to get your question clarified</p>
                </div>
            </div>
    
            <div class="smartphone"></div>
            <div class="mascot-sm"></div>
        </div>
    
        <div class="tab-pane fade" id="pills-tutor" role="tabpanel" aria-labelledby="pills-tutor-tab">
            <div class="student-app">
                <p class="student-title">Tutor app</p>
                <p class="student-study">Title goes here</p>
            </div>
    
            <div>
                <div class="list-icon-1 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-1">
                    <p class="list-desc">Create a profile for your tutoring services which will be searchable by anyone
                    </p>
                </div>
            </div>
    
            <div>
                <div class="list-icon-2 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-2">
                    <p class="list-desc">Answer more questions by students to increase your visibility as a tutor
                    </p>
                </div>
            </div>
    
            <div>
                <div class="list-icon-3 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-3">
                    <p class="list-desc">Set your own per session rate for the students to engage your services</p>
                </div>
            </div>
            
            <div>
                <div class="list-icon-4 rounded-circle d-flex align-items-center">
                    <img class="mx-auto" src="../../assets/owlicon.png">
                </div>
                <div class="list-details-4">
                    <p class="list-desc">You can choose to conduct your lesson on our app (Coming soon) or make your own arrangements outside of Lincus.</p>
                </div>
            </div>

            <div class="tutor-note">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan nibh integer urna urna enim ipsum id. Nisl vehicula enim proin risus sem tortor facilisis mattis pharetra. Diam, molestie tellus eu pellentesque nunc odio euismod habitant sed. Id dignissim proin habitasse morbi. Libero blandit in montes, nisi, cursus dolor ac arcu. Tortor, aliquam ultrices ac imperdiet
            </div>

            <div class="smartphone2"></div>
            <div class="smartphone2-1"></div>
            <div class="tutor-img"></div>
        </div>
    </div>

    <div class="polygon2"></div>
    <div class="polygon2-1"></div>
    <div class="rectangle15"></div>
    <div class="vector7"></div>

    <div class="package">
        <p class="package-title">Lincus package</p>
        <p class="package-plan">Choose your plan</p>
        <p class="package-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>
    </div>

    <div class="ellipse20 rounded-circle"></div>
    <div class="ellipse36 rounded-circle"></div>
    <div class="rectangle19"></div>

    <div class="rec-back"></div>
    <div class="rec text-center d-flex align-items-center px-4 pt-0 pb-3">Recommended</div>
    <div>
        <div class="card1 text-center d-flex align-items-end">
            <div class="card-btn1 mx-auto mb-5">
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>
        <div class="card-content1 text-center">
            <p class="card-title">Try us out!</p>
            <p class="card-question">5 Questions for</p>
            <p class="card-price">FREE!</p>
        </div>
        <div class="card1-1"></div>
        <div class="card0-1"></div>
        

        <div class="card2 text-center d-flex align-items-end">
            <div class="card-btn2 mx-auto mb-5">
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>
        <div class="card-content2 text-center">
            <p class="card-title">Let's get started</p>
            <p class="card-question">25 Questions for</p>
            <p class="card-price">$5</p>
        </div>
        <div class="card2-1"></div>
        <div class="card0-2"></div>
        

        <div class="card3 text-center d-flex align-items-end">
            <div class="card-btn3 mx-auto mb-5">
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>
        <div class="card-content3 text-center">
            <p class="card-title">I really need help</p>
            <p class="card-question">100 Questions for</p>
            <p class="card-price">$15</p>
        </div>
        <div class="card3-1"></div>
        <div class="card0-3"></div>   
    </div>

    <div class="ellipse39 rounded-circle"></div>
    <div class="rectangle20"></div>
    <div class="mascot-think"></div>

    <div class="how-plan">
        <p class="how-title">Lincus package</p>
        <p class="how-works">How the plan works?</p>
        <p class="how-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>
    </div>

    <div class="ellipse371 rounded-circle"></div>
    <div class="ellipse372 rounded-circle"></div>
    <div class="list-how">
        <p>1 Question credit for each question asked.</p>
        <p>Separate session charges for chatting with tutors</p>
    </div>
</div>

