<div class="container mt-3">
    <div class="main-view text-center">
        <div class="ellipse0 rounded-circle"></div>

        <p class="title-app">Lincus app</p>
        <p class="title-main">Study will be more <br/> <span id="bottom">fun and easier</span></p>

        <div class="title-btn">
            <a class="btn btn-outline-primary" href="#aboutus">Get started</a>
        </div>

        <div class="d-flex justify-content-center">
            <div class="ellipse1 rounded-circle"></div>
        </div>
        
        <div class="mascot-main">
            <img src="../../assets/mascot.png"/>
        </div>

        <div class="rectangle1"></div>
        <div class="polygon1"></div>
        <div class="ellipse3 rounded-circle"></div>
        <div class="ellipse4 rounded-circle"></div>
        <div class="available-on">
            <p>Lincus app available on</p>
        </div>
        <div class="available-btn d-flex justify-content-center">
            <div class="d-flex flex-row btn-contain justify-content-between">
                <div>
                    <button id="playstore" class="btn btn-primary"></button>
                </div>
                <div>
                    <button id="appstore" class="btn btn-primary"></button>
                </div>
                
            </div>
        </div>
    </div>
    
    <div id="aboutus" class="aboutus">
        <div class="about-sub">
            <p class="about-title">About us</p>
            <p class="about-study">Study will be fun</p>
            <p class="about-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus. Ut orci scelerisque eu, sed mauris lorem cras tristique interdum. Dictum nisl sed auctor condimentum etiam pretium quis pharetra magna. Faucibus sit nunc donec pellentesque elit tempus, arcu. </p>
        </div>
        <div class="about-img">
            <img src="../../assets/aboutus.png"/>
        </div>

        <div class="ellipse6 rounded-circle"></div>
    </div>

    <div class="use-lincus">
        <div class="use-sub">
            <p class="use-title">Use Lincus now</p>
            <p class="use-why">Why you should use Lincus?</p>
            <p class="use-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>
        </div>

        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="alarm-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/alarm.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>
        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="laptop-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/laptop.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>
        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="allout-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/allout.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>
        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="hourglass-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/hourglass.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>
        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="identity-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/identity.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>
        <div class="use-columns">
            <div class="text-center d-flex flex-column mt-4">
                <div class="timeline-bg rounded-circle d-flex align-items-center mx-auto">
                    <img class="mx-auto" src="../../assets/timeline.png"/>
                </div>
                <p class="column-title">Lorem ipsum dolor sit</p>
                <p class="column-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis .</p>
            </div>
        </div>

        <div class="ellipse7 rounded-circle"></div>
    </div>


    <div class="app-pills text-center d-flex flex-column justify-content-center">
        <ul class="pills-btn nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link d-flex align-items-center active" id="pills-student-tab" data-bs-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-student" aria-selected="true"><p class="mx-auto my-0">Student app</p></a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link d-flex align-items-center" id="pills-tutor-tab" data-bs-toggle="pill" href="#pills-tutor" role="tab" aria-controls="pills-tutor" aria-selected="false"><p class="mx-auto my-0">Tutor app</p></a>
            </li>
        </ul>
        <div class="tab-content mt-5" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">
                <div class="users-app">
                    <p class="users-title">Student app</p>
                    <p class="users-study">Study will be fun</p>
                </div>

                <div class="smartphone">
                    <img src="../../assets/smartphone.png"/>
                </div>
                <div class="mascot-sm">
                    <img src="../../assets/mascot-sm.png"/>
                </div>
        
                <div>
                    <div class="list-icon-1 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-title">Just take a photo of a question</p>
                        <p class="list-desc">That's it, you don't need to type it out. Just take a pic and send to Lincus</p>
                    </div>
                </div>
        
                <div>
                    <div class="list-icon-2 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-title">AI powered question mapping</p>
                        <p class="list-desc">Our AI powered logic will map your question, just from the photo, against our database of questions</p>
                    </div>
                </div>
        
                <div>
                    <div class="list-icon-3 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-title">Immediately get an answer or a similar question asked by someone else before.</p>
                    </div>
                </div>
                
                <div>
                    <div class="list-icon-4 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-title">Still not sure on how to solve your question?</p>
                        <p class="list-desc">Just reach out to our tutor base and engage them on a 1 on 1 session to get your question clarified</p>
                    </div>
                </div>
            </div>
        
            <div class="tab-pane fade" id="pills-tutor" role="tabpanel" aria-labelledby="pills-tutor-tab">
                <div class="users-app">
                    <p class="users-title">Tutor app</p>
                    <p class="users-study">Title goes here</p>
                </div>

                <div class="tutor-img">
                    <img src="../../assets/Group19.png"/>
                </div>
        
                <div>
                    <div class="list-icon-1 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-desc">Create a profile for your tutoring services which will be searchable by anyone
                        </p>
                    </div>
                </div>
        
                <div>
                    <div class="list-icon-2 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-desc">Answer more questions by students to increase your visibility as a tutor
                        </p>
                    </div>
                </div>
        
                <div>
                    <div class="list-icon-3 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-desc">Set your own per session rate for the students to engage your services</p>
                    </div>
                </div>
                
                <div>
                    <div class="list-icon-4 rounded-circle d-flex align-items-center">
                        <img class="mx-auto" src="../../assets/owlicon.png">
                    </div>
                    <div class="list-details">
                        <p class="list-desc">You can choose to conduct your lesson on our app (Coming soon) or make your own arrangements outside of Lincus.</p>
                    </div>
                </div>
    
                <div class="tutor-note">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan nibh integer urna urna enim ipsum id. Nisl vehicula enim proin risus sem tortor facilisis mattis pharetra. Diam, molestie tellus eu pellentesque nunc odio euismod habitant sed. Id dignissim proin habitasse morbi. Libero blandit in montes, nisi, cursus dolor ac arcu. Tortor, aliquam ultrices ac imperdiet
                </div>
            </div>
        </div>

        <div class="ellipse8 rounded-circle"></div>
    </div>

    <div class="package">
        <p class="package-title">Lincus package</p>
        <p class="package-plan">Choose your plan</p>
        <p class="package-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>

        <div class="ellipse9 rounded-circle"></div>
        <div class="package-cards d-flex flex-column mt-4 py-4">
            <div class="single-card text-center d-flex flex-column justify-content-center mx-auto mb-4">
                <div class="card-content text-center">
                    <p class="card-title">Try us out!</p>
                    <p class="card-question">5 Questions for</p>
                    <p class="card-price">FREE!</p>
                </div>
                <div class="card-btn mx-auto">
                    <button class="btn btn-primary">Confirm</button>
                </div>
            </div>
            <div class="single-card text-center d-flex flex-column justify-content-center mx-auto mb-5">
                <div class="card-content text-center">
                    <p class="card-title">Let's get started</p>
                    <p class="card-question">25 Questions for</p>
                    <p class="card-price">$5</p>
                </div>
                <div class="card-btn mx-auto">
                    <button class="btn btn-primary">Confirm</button>
                </div>
            </div>
            <p class="rec-word">Recommended</p>
            <div class="rec">
                
                <img src="../../assets/Union.png"/>
            </div>
            <div class="single-card text-center d-flex flex-column justify-content-center mx-auto mb-4">
                <div class="card-content text-center">
                    <p class="card-title">I really need help</p>
                    <p class="card-question">100 Questions for</p>
                    <p class="card-price">$15</p>
                </div>
                <div class="card-btn mx-auto">
                    <button class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
        <div class="ellipse10 rounded-circle"></div>
    </div>

    <div class="how-plan d-flex flex-column justify-content-center">
        <p class="how-title">Lincus package</p>
        <p class="how-works">How the plan works?</p>

        <div class="rectangle2"></div>
        <div class="rectangle3"></div>

        <div class="ellipse5 rounded-circle align-self-center"></div>
        <div class="mascot-think">
            <img src="../../assets/owlthink.png">
        </div>

        <p class="how-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit quisque aliquet enim lobortis auctor imperdiet purus.</p>

        <div class="list-how">
            <p>1 Question credit for each question asked.</p>
            <p>Separate session charges for chatting with tutors</p>
        </div>
    </div>

</div>

<div class="modal fade" id="sideMenu" tabindex="-1" aria-labelledby="sideMenuLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-end">
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#">Opportunity</a></li>
                <li class="list-group-item"><a href="#">Academy</a></li>
                <li class="list-group-item"><a href="#">About us</a></li>
                <li class="list-group-item"><a href="#">Contact us</a></li>
                <li class="list-group-item"><a href="#">Login</a></li>
            </ul>
        </div>
      </div>
    </div>
</div>