.container {
    max-height: 100%;
}

.ellipse0 {
    z-index: -1;
    position: absolute;
    width: 389.55px;
    height: 389.55px;
    right: -124.86px;
    top: -105.74px;
    border: 30px solid #FFF6F0;
    box-sizing: border-box;
}

.main-view {
    font-style: normal;
    .title-app {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 5px;
        color: #59C4DF;
    }
    .title-main{
        font-weight: 700;
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 10px;
        color: #05657D;
        #bottom {
            color: #E46810;
            font-weight: 900;
        }
    
    }
    .title-desc {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #373435;
    }
}

.title-btn {
    a {
        width: 174.04px;
        height: 50.28px;
        background: #E46810;
        border-color: #E46810;
        color: #FFFFFF;
        border-radius: 25.1384px;  
        padding-top: 12px;
    }
    display: inline-block;
    transition: 300ms;
}
.title-btn:hover {
    transform: translateY(-8px);
}

.ellipse1 {
    margin-top: 50px;
    z-index: -1;
    position: absolute;
    width: 284.31px;
    height: 284.31px;
    background: linear-gradient(180deg, #9BE1F2 -23.04%, rgba(32, 134, 159, 0) 100%);
}
.mascot-main {
    margin-top: 40px;
    margin-bottom: 50px;
    img {
        max-height: 300px;
        height: 80%;
    }
    
}

.rectangle1 {
    z-index: -1;
    position: absolute;
    width: 42.26px;
    height: 42.26px;
    left: 69.04px;
    top: 88.9px;
    background: #FFB683;
    transform: rotate(-30deg);
}

.polygon1 {
    z-index: -1;
    position: absolute;
    min-width: 70.48px;
    min-height: 80.48px;
    left: 69.04px;
    top: 308.9px;
    background: url(../../assets/Polygon1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    transform: rotate(-50deg);
}

.ellipse3 {
    z-index: -1;
    position: absolute;
    width: 245.19px;
    height: 245.19px;
    left: -122.6px;
    bottom: -80px;
    border: 30px solid #C5EDF7;
    box-sizing: border-box;
}

.ellipse4 {
    z-index: -1;
    position: absolute;
    width: 118.09px;
    height: 118.09px;
    right: 38.35px;
    top: 630.54px;

    border: 15px solid #95C953;
    box-sizing: border-box;
}

.available-on {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #565656;
}

.available-btn {
    .btn-contain {
        width: 234.79px;
        button {
            width: 113.03px;
            height: 37.16px;
            padding: 0;
            background-color: none;
            border: transparent;
        }
        #playstore{
            background: url(../../assets/playstore.png);
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
        }
        #appstore{
            background: url(../../assets/appstore.png);
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
        }
    }
}

.aboutus {
    margin-top: 100px;
    padding-top: 100px;
    font-style: normal;
    text-align: center;
    .about-sub {
        .about-title {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 0px;
            color: #59C4DF;
        }
    
        .about-study {
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 20px;
            color: #05657D;
        }
    
        .about-desc {
            //width: 300px;
            padding-inline: 30px;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #373435;
        }
    }
    .about-img {
        margin-top: 10px;
        img {
            width: 105%;
        }
    }

    .ellipse6 {
        z-index: -1;
        position: absolute;
        width: 148.38px;
        height: 148.38px;
        top: 1703.55px;
        right: -60px;
        border: 15px solid #F3A268;
        box-sizing: border-box;
    }
}

.use-lincus {
    padding-top: 75px;
    margin-top: 75px;
    font-style: normal;
    text-align: center;
    .use-title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0px;
        color: #59C4DF;
    }

    .use-why {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
        color: #05657D;
    }

    .use-desc {
        padding-inline: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #373435;
    }

    .ellipse7 {
        position: absolute;
        width: 195.5px;
        height: 195.5px;
        left: -60.37px;
        top: 3404.87px;
        z-index: -1;
        border: 15px solid #3DE09F;
        box-sizing: border-box;
    }
}

.use-columns {
    .column-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #373435;
        margin-top: 20px;
    }
    .column-desc {
        padding-inline: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #373435;
    }
}

.alarm-bg {
    height: 94.12px;
    width: 94.12px;
    background: #FFB683;
}
.laptop-bg {
    height: 94.12px;
    width: 94.12px;
    background: #3DE09F;
}
.allout-bg {
    height: 94.12px;
    width: 94.12px;
    background: #52F74F;
}
.hourglass-bg {
    height: 94.12px;
    width: 94.12px;
    background: #FFE86B;
}
.identity-bg {
    height: 94.12px;
    width: 94.12px;
    background: #59C4DF;
}
.timeline-bg {
    height: 94.12px;
    width: 94.12px;
    background: #054D7D;
}


.app-pills {
    padding-top: 50px;
    margin-top: 50px;
    .pills-btn {
        li {
            font-family: 'Lato', sans-serif;
            a {
                width: 194.88px;
                height: 50.28px;
                background: #FFFFFF;
                border: 1px solid #D8D8D8;
                color: #D8D8D8;
            }
            #pills-student-tab {
                border-top-left-radius: 25.14px;
                border-bottom-left-radius: 25.14px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            #pills-tutor-tab {
                border-top-right-radius: 25.14px;
                border-bottom-right-radius: 25.14px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .active {
                color: #FFFFFF;
                background: #E46810;
                border-color: #E46810;
            }
        }
    }

    .users-app {
        font-style: normal;
        .users-title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 0px;
            color: #59C4DF;
        }
    
        .users-study {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #05657D;
        }
    }

    .list-details {
        padding-inline: 30px;
        font-style: normal;
        .list-title {
            font-weight: 700;
            font-size: 24px;
            //line-height: 25px;
            color: #E46810;
            overflow: hidden;
        }
        .list-desc {
            overflow: hidden;
            font-weight: 400;
            font-size: 16px;
            //line-height: 25px;
            color: #373435;
        }
    }

    .tutor-note {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #373435;
    }

    .smartphone {
        overflow: hidden;
        margin: 30px;
        margin-right: -190px;
        z-index: -1;
    }

    .mascot-sm {
        overflow: hidden;
        margin-top: -500px;
        margin-left: -140px;
    }
    .tutor-img {
        overflow: hidden;
        //margin: 30px;]
        //margin-right: -190px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ellipse8 {
        position: absolute;
        width: 245.19px;
        height: 245.19px;
        right: -60.37px;
        top: 5004.87px;
        z-index: -1;
        border: 30px solid #C5EDF7;
        box-sizing: border-box;
    }
}

.package {
    padding-top: 50px;
    margin-top: 50px;
    font-style: normal;
    text-align: center;
    .package-title{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
        color: #59C4DF;
    }
    .package-plan {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #05657D;
    }
    .package-desc {
        padding-inline: 30px;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #373435;
    }

    .ellipse9 {
        position: absolute;
        width: 319.47px;
        height: 319.47px;
        left: -60.37px;
        top: 5404.87px;
        z-index: -1;
        background: linear-gradient(180deg, #FFC094 -137.16%, rgba(228, 104, 16, 0) 100%);
    }

    .ellipse10 {
        position: absolute;
        width: 195.5px;
        height: 195.5px;
        right: 20.37px;
        top: 6500.87px;
        z-index: -1;
        border: 15px solid #FCFF81;
        box-sizing: border-box;
    }

    .single-card {
        width: 370px;
        height: 318.91px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        .card-btn {
            z-index: 1;
            button {
                width: 261.64px;
                height: 50.28px;
                background: #DCDCDC;
                border-color: #DCDCDC;
                color: #FFFFFF;
                border-radius: 25.1384px;
            }
            button:hover {
                background: #E46810;
                border-color: #E46810;
            }
        }
    }
    .single-card:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }

    .card-content {
        font-style: normal;
        overflow: hidden;
        .card-title {
            font-weight: 800;
            font-size: 32px;
            color: #E46810;
        }
        .card-question {
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 5px;
            color: #05657D;
        }
        .card-price {
            font-weight: 700;
            font-size: 36px;
            color: #05657D;
        }
    }
}

.rec-word {
    font-size: 12px;
    font-weight: 700;
    z-index: 2;
    color: #FFFFFF;
    margin-bottom: -12px;
}
.rec {
    margin-top: -18px;
    margin-bottom: -38px;
    z-index: 1;
}

.how-plan {
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-style: normal;
    text-align: center;
    .how-title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
        color: #59C4DF;
    }
    .how-works {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #05657D;
    }
    .how-desc {
        padding-inline: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #373435;
    }

    .rectangle2{
        position: absolute;
        width: 42.26px;
        height: 42.26px;
        left: 60.37px;
        top: 6830.87px;
        z-index: -1;
        border: 4px solid #3DE09F;
        box-sizing: border-box;
        transform: rotate(-30deg);

    }

    .rectangle3{
        position: absolute;
        width: 22.26px;
        height: 22.26px;
        right: 60.37px;
        top: 7080.87px;
        z-index: -1;
        border: 4px solid #FFB683;
        box-sizing: border-box;
        transform: rotate(-10deg);

    }

    .ellipse5 {
        width: 278.59px;
        height: 278.59px;
        margin: 30px auto;
        background: linear-gradient(180deg, #9BE1F2 -23.04%, rgba(32, 134, 159, 0) 100%);
    }



    .mascot-think {
        margin-top: -320px;
        margin-bottom: 35px;
        img {
            height: 300px;
        }
        
    }

    .list-how {
        padding-inline: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #373435;
        overflow: hidden;
    }
}

.modal {
    .modal-content {
        background: #05657D;
        color: #FFFFFF;
    }
    .modal-header {
        border: none;
        padding: 15px;
        button {
            font-size: 24px;
            box-shadow: none;
            background: transparent;
            border: transparent;
            i {
                color: #FFFFFF;
            }
        }
    }

    .modal-body {
        text-align: center;
        ul {
            font-weight: 700;
            font-size: 20px;
            li {
                background: none;
                border: none;
                padding-top: 70px;
                
                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    display: inline-block;
                    transition: 300ms;
                }
                a:hover {
                    color: #E46810;
                    transform: translateY(-4px);
                }
                &:last-child{
                    a {
                        color: #E46810;
                        display: inline-block;
                        transition: 300ms;
                    }
                    a:hover {
                        transform: translateY(-6px);
                    }
                }
            }
        }
    }
}

@media (max-width: 290px) {
    .main-view {
        .title-app {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
            color: #59C4DF;
        }
        .title-main{
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 20px;
        
        }
    }
    .title-btn {
        a {
            width: 154.04px;
            height: 42.28px;
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .ellipse1 {
        margin-top: 30px;
        width: 224.31px;
        height: 224.31px;
        
    }
    .mascot-main {
        margin-top: 20px;
        margin-bottom: 30px;
        img {
            max-height: 240px;
            height: 80%;
        }
        
    }
    .available-on {
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: -10px;
    }
}

@media (min-width: 305px) and (max-width: 420px) {
    .main-view {
        .title-app {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 5px;
            color: #59C4DF;
        }
        .title-main{
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }

    .app-pills {
        padding-top: 50px;
        margin-top: 50px;
        .pills-btn {
            li {
                font-family: 'Lato', sans-serif;
                a {
                    width: 134.88px;
                    height: 50.28px;
                    background: #FFFFFF;
                    border: 1px solid #D8D8D8;
                    color: #D8D8D8;
                }
            }
        }
    }
}

@media (min-width: 305px) and (max-height: 640px) {
    .main-view {
        .title-app {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
            color: #59C4DF;
        }
        .title-main{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }
    .title-btn {
        a {
            width: 154.04px;
            height: 42.28px;
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .ellipse1 {
        margin-top: 20px;
        width: 184.31px;
        height: 184.31px;
        
    }
    .mascot-main {
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            max-height: 180px;
            height: 80%;
        }
        
    }
    .available-on {
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: -10px;
    }
}

@media (min-width: 305px) and  (min-height: 605px) and (max-height: 700px) {
    .main-view {
        .title-app {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 5px;
            color: #59C4DF;
        }
        .title-main{
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }
    .title-btn {
        a {
            width: 154.04px;
            height: 42.28px;
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .ellipse1 {
        margin-top: 25px;
        width: 234.31px;
        height: 234.31px;
        
    }
    .mascot-main {
        margin-top: 15px;
        margin-bottom: 25px;
        img {
            max-height: 245px;
            height: 80%;
        }
        
    }
    .available-on {
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: -10px;
    }
}

@media (min-width: 305px) and (min-height: 705px) and (max-height: 805px) {
    .main-view {
        .title-app {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 5px;
            color: #59C4DF;
        }
        .title-main{
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }
    .title-btn {
        a {
            width: 154.04px;
            height: 42.28px;
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .ellipse1 {
        margin-top: 30px;
        width: 284.31px;
        height: 284.31px;
        
    }
    .mascot-main {
        margin-top: 20px;
        margin-bottom: 30px;
        img {
            max-height: 300px;
            height: 80%;
        }
        
    }
    .available-on {
        font-size: 12px;
        margin-top: -5px;
        margin-bottom: -10px;
    }
}